# Virtual environment
# Gitignore
venv/
.venv/


# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Kaggle/cache files
.kaggle/
.cache/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db
